@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.footer{
    margin: 0 auto;
    width: 90%;
    background-color: #003c78;
}

.container{
    padding: 20px 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.spisok__footer{
    list-style-type: none;
    color: white;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
}

.social{
    display: flex;
    justify-content: space-between;
}

.seti{
    color: white;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
}

.Icon{
    height: 30px;
    padding: 5px;
}

.Icon:hover{
    background-color: azure;
    border-radius: 10px;
    cursor: pointer;
}